{
  "printWidth": 120,
  "useTabs": false,
  "tabWidth": 2,
  "semi": false,
  "vueIndentScriptAndStyle": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "insertPragma": false,
  "requirePragma": false,
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "auto",
  "trailingComma": "none",
  "bracketSameLine": false
}
